<h3>index</h3>
<p>index page - rendered on {{ platform }}</p>

<ul>
    <li><a href="/details/1">details page for "item 1"</a></li>
    <li><a href="/details/2">details page for "item 2"</a></li>
    <li><a href="/details/3">details page for "item 3"</a></li>
    <li><a href="/details/4">details page for a non existing item</a></li>
</ul>

<p><a href="/missing-page">missing page</a></p>
